<div id="divChangePassword" style="margin-top: 15px; margin-left: 15px; margin-right: 15px; display: none;">
    <form id="frmChangePassword" class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" id="oldPass" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" id="newPass" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" id="checkPass" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="btnChangePassword" type="button" class="layui-btn" >修改密码</button>
            </div>
        </div>
    </form>
</div>

<script src="~/userJs/changePass.js"></script>

