@{
    Layout = null;
    ActionDescriptor action = ViewBag.ActionInfo;
}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>用户登录 - @MvcApplication.Title</title>
    <!-- CSS files -->
    <link href="~/layui/css/layui.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css?@MvcApplication.Version" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css?@MvcApplication.Version" rel="stylesheet" />
    @*<style>
      @@import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>*@
</head>
<body class=" d-flex flex-column bg-white">
    <script src="~/dist/js/demo-theme.min.js?@MvcApplication.Version"></script>
    <div class="row g-0 flex-fill">
        <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
            <!-- Photo -->
            <div class="bg-cover h-100 min-vh-100" style="background-image: url(/static/photos/cup-of-coffee-on-table-in-cafe-2.jpg)"></div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
            <div class="container container-tight my-5 px-lg-5">
                <div class="text-center mb-4">
                    <a href="~/" class="navbar-brand navbar-brand-autodark"><img src="~/Images/login1.png" height="36" alt=""></a>
                </div>
                <h2 class="h3 text-center mb-3">
                    用 户 登 录
                </h2>
                    <input type="hidden" name="Error" value="@ViewBag.Error" />
                <form action="~/home/login" method="post" autocomplete="off" id="loginform">
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                    <div class="mb-3">
                        <label class="form-label">账号</label>
                        <input type="text" class="form-control" placeholder="你的账号或手机号" autocomplete="off" name="account" required   >
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            密码
                            <span class="form-label-description" style="visibility:hidden">
                                <a href="/forgot-password.html">忘记密码</a>
                            </span>
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" placeholder="你的密码" autocomplete="off" name="password" required   >
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" title="显示密码" data-bs-toggle="tooltip" id="showpwdtag">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="mb-2" style="visibility:hidden">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" />
                            <span class="form-check-label">记住密码</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">登 录</button>
                    </div>
                </form>
                <div class="text-center text-secondary mt-3" style="visibility:hidden">
                    Don't have account yet? <a href="/sign-up.html" tabindex="-1">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js?@MvcApplication.Version" defer></script>
    <script src="~/dist/js/demo.min.js?@MvcApplication.Version" defer></script>
    <script src="~/Scripts/jquery-3.4.1.min.js?@MvcApplication.Version"></script>
    <script src="~/layui/layui.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/aibibase.js?@MvcApplication.Version"></script>
    <script src="~/Scripts/@(action.ControllerDescriptor.ControllerName.ToLower())/@(action.ActionName.ToLower()).js?@MvcApplication.Version"></script>
</body>
</html>