@{ 
    ViewBag.NoCard = true;
}
@section scripts{
    <script>
        var EnumPlanUserStatus = @JsonHelper.ToJson(EnumConvert.ToList<EnumPlanUserStatus>().ToDictionary(a => a.Value, a => a.Text));
    </script>
}
@section styles{
    <style>
        html, body, #outside {
            height: 100%;
            overflow-x: hidden
        }
        #page {
            display: flex;
            flex-flow: row wrap;
            border-radius: 15px;
            width: 95%;
            height: 95%;
            background: white;
            border: 2px solid #ccc;
            box-sizing: border-box;
            align-content:start;
            overflow-y:auto;
            padding:30px;
        }
        .item{
            width:33.333%;
            box-sizing:border-box;
            padding:10px;
        }
        .layui-card-header{
            border-radius:10px 10px 0 0;
        }
        .layui-card-body {
            border-radius: 0 0 10px 10px;
        }
        .layui-card{
            margin-bottom:10px;
        }
        .layui-bg-dgray {
            background-color: #cccccc !important;
            color: #fff !important;
        }
    </style>
}
<div id="outside" style="display:flex;flex-flow:column nowrap;align-items:center;justify-content:center;">
    <div class="layui-fluid" id="page">
        
    </div>
</div>


<script type="text/template" id="itemTemplate">
    <h1 style="font-size:32px;margin-bottom:24px;width:100%;text-align:center">@ViewBag.Title</h1>
    {{# layui.each(d,function(i,a){ }}
    {{# let bg="layui-bg-green"; }}
    {{# if(a.BusTestPlanUsers[0].Status==4){ }}
    {{# bg="layui-bg-blue"; }}
    {{# } }}
    {{# if(a.BusTestPlanUsers[0].Status==-1){ }}
    {{# bg="layui-bg-dgray"; }}
    {{# } }}
    <div class="item" style="text-align:center">
        <div class="layui-card">
            <div class="layui-card-header {{bg}}" style="font-size:14px">
                {{a.Name}}
            </div>
            <div class="layui-card-body {{bg}}" style="font-size:12px">
                <p>有效时间：{{new Date(a.StartTime).format("yyyy年MM月dd日 HH:mm")}}-{{new Date(a.EndTime).format("yyyy年MM月dd日 HH:mm")}}</p>
                <p>题目数：{{a.QuestionNum}}</p>
                <p>答题时间：{{Math.ceil(a.BusTestPlanUsers[0].Duration/60)}}分钟</p>
                {{# if(a.BusTestPlanUsers[0].Status==4){ }}
                <p>完成时间：{{new Date(a.BusTestPlanUsers[0].EndTime).format("yyyy年MM月dd日 HH:mm")}}</p>
                {{# }else if(a.BusTestPlanUsers[0].Status==3 || a.BusTestPlanUsers[0].BeginTime){ }}
                <p style="color:yellow">暂停时间：{{new Date(a.BusTestPlanUsers[0].ModifyTime).format("yyyy年MM月dd日 HH:mm")}}</p>
                {{# }else{ }}
                <p style="visibility:hidden">占位</p>
                {{# } }}
            </div>
        </div>
        {{# if(a.BusTestPlanUsers[0].Status==0){ }}
        <div style="text-align:right"><a class="layui-btn layui-btn-sm starttest " target="addtab" title="开始测试" href="/TestPlan/Test/{{=a.Id}}">开始测试</a></div>
        {{# }else if(a.BusTestPlanUsers[0].Status==4){ }}
        <div style="text-align:right"><button type="button" class="layui-btn layui-btn-sm starttest layui-bg-dgray" style="cursor: not-allowed" title="完成测试">完成测试</button></div>
        {{# }else if(a.BusTestPlanUsers[0].Status==-1){ }}
        <div style="text-align:right"><button type="button" class="layui-btn layui-btn-sm starttest layui-bg-dgray" style="cursor: not-allowed" title="已经失效">已经失效</button></div>
        {{# }else{ }}
        <div style="text-align:right"><a class="layui-btn layui-btn-sm starttest layui-bg-red " target="addtab" title="继续测试" href="/TestPlan/Test/{{=a.Id}}">继续测试</a></div>
        {{# } }}

    </div>

    {{# }); }}
</script>
