@model EmptyModel
<div class="empty">
    <div class="empty-img">
        <img src="~/static/illustrations/undraw_printing_invoices_5r4r.svg" height="128" alt="">
    </div>
    <p class="empty-title">@(Model?.Title?? "没有数据")</p>
    <p class="empty-subtitle text-secondary">
        @(Model?.Title2?? "没有找到任何数据")。
    </p>
    <div class="empty-action">
        <a href="#" class="btn btn-primary" onclick="event.preventDefault(); location.reload()">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12v.01"></path><path d="M19.071 4.929c-1.562 -1.562 -6 .337 -9.9 4.243c-3.905 3.905 -5.804 8.337 -4.242 9.9c1.562 1.561 6 -.338 9.9 -4.244c3.905 -3.905 5.804 -8.337 4.242 -9.9"></path><path d="M4.929 4.929c-1.562 1.562 .337 6 4.243 9.9c3.905 3.905 8.337 5.804 9.9 4.242c1.561 -1.562 -.338 -6 -4.244 -9.9c-3.905 -3.905 -8.337 -5.804 -9.9 -4.242"></path></svg>
            @(Model?.ButtonName?? "刷新")
        </a>
    </div>
</div>