.layui-btn {
    height: 30px;
    line-height: 30px;
}
.layui-input, .layui-select, .layui-textarea {
    height: 30px;
    line-height: 1.3;
    line-height: 30px\9;
}
.layui-input-wrap {
    line-height: 30px
}
.layui-input-affix {
    line-height: 30px
}
.layui-form-pane .layui-form-label {
    height: 30px;
}
.layui-table-cell {
    height: 30px;
    line-height: 28px;
}
.layui-transfer-header {
    height: 30px;
    line-height: 30px;
}
.layui-colorpicker {
    width: 30px;
    height: 30px;
}
.layui-layer-loading .layui-layer-content {
    height: 30px;
    line-height: 30px;
}

.layui-layer-loading-icon {
    font-size: 30px;
}

.layui-layer-loading-2 {
    height: 30px
}
.layui-layer-win10.layui-layer-page .layui-layer-setwin span {
    width: 30px
}

.layui-form-label {
    padding: 5px 15px;
}

.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #f2f2f2;
}
.layui-table th {
    text-align: left;
    font-weight: 400;
}

.layui-table-view .layui-table {
    width: auto!important;
}

.layui-form-radio {
    line-height: 20px;
    margin: 4px 10px 0 0;
}


em.layui-border-red{
    border:0;
}

.layui-form-switch {
    margin-top: 2px;
}
/*******************************

********************************/
html{
    background:#f1f1f1
}
.layui-footer {
    position: fixed;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: 990;
    height: 44px;
    line-height: 44px;
    padding: 10px 0px;
    box-shadow: -1px 0 4px rgb(0 0 0 / 12%);
    background-color: #FAFAFA;
    text-align:center;
}
.layui-card-header {
    border-bottom: 1px solid #f6f6f6;
}