

.mainCoutent {
    margin: auto;
    height: 70%;
}

.title-Description {
    text-align: center;
    font-family: KaiTi;
    font-weight: bold;
    font-size: 48px;
    height: 60px;
    line-height: 60px;
}

.title-translation {
    text-align: center;
    font-family: KaiTi;
    font-size: 24px;
    margin: 2% auto 6%;
}

.title-text {
    font-family: KaiTi;
    font-size: 32px;
}

table {
    margin: auto;
    position: relative;
}

.symCentrTop {
    margin-top: 15%;
}

.heightAuto {
    width: 90%;
    margin-top: 4%;
}

.timeroutEnd {
    position: fixed;
    bottom: 25%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.centerImg {
    margin-top: 10%;
}

.centerTenEight {
    margin-top: 14.8%;
}

.symPcenter {
    margin-top: 22%;
    font-size: xx-large;
}

.centerTopLine {
    margin-top: 10%;
}

.btn {
    width: 100% !important;
    height: 100% !important;
    font-size: large !important;
    text-align: left !important;
}

.btnnext {
    height: 48px;
    width: 132px;
    color: #000000;
    line-height: 1;
    font-size: 22px;
    font-family: kaiTi;
    position: fixed;
    bottom: 15%;
    left: 50%;
    border: none !important;
    outline: none !important;
    border-radius: 0;
}

.btnnext {
    margin-left: 115px;
}

.Previouspage .btnnext {
    margin-left: -286px;
}

.symPcenter div p {
    font-size: 32px;
    font-family: kaiTi;
}

.taskEnd {
    position: absolute;
    left: 45%;
    top: 50%;
    font-size: xx-large;
    width: 260px;
}

.container {
    padding-top: 40px;
}

.title-Description {
    margin-top: -40px;
}

.btn-start, .btn-starttwo {
    background: #FFFFFF;
    width: 162px;
    height: 52px;
    line-height: 51px;
    color: #000000;
    font-size: 26px;
    position: fixed;
    font-family: kaiti;
    bottom: 15%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: none;
}

.title-Description {
    text-align: center;
    font-family: KaiTi;
    font-weight: bold;
    font-size: 48px;
    height: 60px;
    line-height: 60px;
}

.title-translation {
    text-align: center;
    font-family: KaiTi;
    font-size: 24px;
    margin: 2% auto 6%;
}

.title-text {
    font-family: KaiTi;
    font-size: 32px;
}

span.btn.btn-default {
    background-color: rgba(0,0,0,0)
}

@media only screen and (min-width: 992px) {
    table {
        margin: auto;
        position: relative;
    }

    .mainCoutent {
    }

    .timeroutEnd {
        bottom: 25%;
    }

    .centerTenEight {
        margin-top: 8.8%;
    }



    .xoDiv {
        position: fixed;
        bottom: 15%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    .ipadPcWidth {
        width: 100%;
        margin-top: 50%;
    }

    .Previouspage {
        float: left;
    }


    .nextpage {
        float: right;
    }

    .btnnext {
        background: #FFFFFF;
        width: 162px;
        color: #000000;
        font-size: 32px;
        height: 52px;
        line-height: 51px;
        font-family: kaiTi;
    }
}

@media only screen and (min-width: 321px) and (max-width: 1200px) {

    .centerTenEight, .centerTopLine {
        margin-top: 0%;
    }

    .xoDiv {
        position: fixed;
        bottom: 15%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.topoper {
    margin-top: 3.3%;
    margin-bottom: 0px;
}
