@{
    ActionDescriptor action = ViewBag.ActionInfo;
}
@section scripts{
    <script>
        var EnumSex = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumSex)).ToDictionary(a=>a.Value,a=>a.Text));
    </script>
}
@section styles{
    <style>
        .ztree li span.button.add {
            margin-left: 2px;
            margin-right: 2px;
            background-position: -144px 0;
            vertical-align: top;
            *vertical-align: middle;
        }
    </style>
    }
<!-- Page header -->
<div class="layui-fluid">
    <div class="layui-row" style="margin-top:0px">
        <div class="layui-col-xs6">
            <form class="layui-form" id="searchForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:auto">搜索</label>
                        <div class="layui-input-inline">
                            <input type="text" value="" class="layui-input" placeholder="搜索…" name="keyword" id="keyword" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-xs6" style="text-align: right; ">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="visibility:hidden;width:auto">按钮</label>
                    </div>
                    <div class="layui-inline">
                        <a href="/@(ViewBag.ActionInfo.ControllerDescriptor.ControllerName)/Edit" class="layui-btn layui-btn-sm" target="addtab">
                            添加学员
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md2">
            <div id="tree" class="ztree" style="border: 1px solid #f1f1f1; margin-right: 10px;overflow-y: auto"></div>
        </div>
        <div class="layui-col-md10">
            <table id="table"></table>
        </div>
    </div>
</div>

<script type="text/template" id="actionTemplate">
    <div class="layui-inline"><a class="layui-btn layui-btn-sm" target="addtab" title="修改学员-{{=d.UserId}},{{=d.OwnerId}}" href="/@(ViewBag.ActionInfo.ControllerDescriptor.ControllerName)/Edit/{{=d.UserId}},{{=d.OwnerId}}">修改</a><button class="layui-btn layui-btn-sm" lay-event="delete" style="display:none">删除</button></div>
</script>
<script type="text/template" id="selectActionTemplate">
    <div class="layui-inline"><button class="layui-btn layui-btn-sm" lay-event="delete">删除</button></div>
</script>

<div class="layui-card" style="position: absolute; right: 0; bottom: 0; width: 350px;margin:0;@(action.ActionName.ToLower() == "select"?"":"display:none")">
    <div class="layui-card-header layui-bg-blue"><button class="layui-btn layui-btn-xs layui-bg-red" id="minsize"><i class="layui-icon layui-icon-subtraction"></i></button><button class="layui-btn layui-btn-xs layui-bg-red" id="selectok"><i class="layui-icon layui-icon-ok"></i>确认</button></div>
    <div class="layui-card-body" style="padding:0;overflow:hidden" id="selectH">
        <table id="select_table"></table>
    </div>
</div>