@{

}
@section styles{
    <style>
        .card-img, .card-img-top {
            border-top-left-radius: var(--tblr-card-inner-border-radius);
            border-top-right-radius: var(--tblr-card-inner-border-radius);
            height: 12rem;
            object-fit: cover;
        }
        
    </style>
}
@section scripts{
    <script>
        var EnumSex = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumSex)).ToDictionary(a=>a.Value,a=>a.Text));
    </script>
}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-fluid">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                @*<div class="page-pretitle">
                    Overview
                </div>*@
                <h2 class="page-title">
                    @ViewBag.Title
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <form class="d-flex" id="searchform">
                    <div class="me-3">
                        <div class="input-icon">
                            <input type="text" value="" class="form-control" placeholder="搜索…" name="keyword" id="keyword" autocomplete="off">
                            <span class="input-icon-addon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                            </span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary me-1" id="btnSelect">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        确认选择
                    </a>
                    <a href="~/UserInfo/Edit" class="btn btn-primary" target="addtab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        添加学员
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="page-body" style="flex:1; display:flex;flex-direction:column">
    <div class="container-fluid" style="flex:1">
        <div class="d-flex align-items-center pager">
            <p class="m-0 text-secondary"></p>
            <ul class="pagination ms-auto">
            </ul>
        </div>

        <div class="row row-cards" >
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        <tr>
                            <th class="w-1">
                                <input class="form-check-input m-0 align-middle selectall" name="userselecter" type="checkbox" aria-label="Select all invoices">
                            </th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>单位</th>
                            <th>身份证号</th>
                            <th>生日</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="d-flex align-items-center pager">
        <p class="m-0 text-secondary"></p>
        <ul class="pagination ms-auto">
        </ul>
    </div>
</div>

<script type="text/template" id="listtemplate">
    <tr rowid="{{UserId}},{{OwnerId}}">
        <td>
            <input class="form-check-input m-0 align-middle selectsingle" name="userselecter" type="checkbox" aria-label="Select invoice">
        </td>
        <td data-label="姓名">
            <div class="d-flex py-1 align-items-center">
                <span class="avatar me-2" style="background-image: url({{=obj.User.Avatar?obj.User.Avatar.FullName:(obj.User.AvatarName||'/static/avatars/defaultavatar.png') }})"></span>
                <div class="flex-fill">
                    <div class="font-weight-medium">{{=obj.RealName||obj.User.Name}}</div>
                    <div class="text-secondary">{{=obj.User.Mobile??obj.User.Account}}</div>
                </div>
            </div>
        </td>
        <td data-label="性别">
            <div>{{=EnumSex[obj.Sex]||"未知"}}</div>
        </td>
        <td class="text-secondary" data-label="单位">
            {{=obj.UnitName||"-"}}
        </td>
        <td class="text-secondary" data-label="身份证号">
            {{=obj.IdCardNo||"-"}}
        </td>
        <td class="text-secondary" data-label="生日">
            {{=(obj.Birthday?new Date(obj.Birthday).format("yyyy-MM-dd"):"")}}
        </td>
        <td>
            <div class="btn-list flex-nowrap">
                <a href="/UserInfo/Edit/{{UserId}},{{OwnerId}}" class="btn btn-outline-primary btn-pill btn-xsm" target="addtab" title="修改用户信息-{{UserId}}:{{OwnerId}}">
                    修改
                </a>
                <a href="#" class="btn btn-outline-danger btn-pill btn-xsm">删除</a>
                <a href="/UserInfo/Detail/{{UserId}},{{OwnerId}}" class="btn btn-outline-info btn-pill btn-xsm" target="addtab" title="用户详情-{{UserId}}:{{OwnerId}}">查看</a>
            </div>
        </td>
    </tr>
</script>
<script type="text/template" id="emptytemplate">
    <td colspan="1000">
        @{
            Html.RenderPartial("Empty");
        }
    </td>
</script>
