@{
    
}
@section styles{
    <style>
        .txt_r{
            color:red
        }
    </style>
}
@section scripts{
    <script>
        
    </script>
}
<form id="baseInfo" style="display:none">

</form>
<!-- Page header -->
<div class="layui-fluid" style="margin-top:0px">
    @*<h4>@ViewBag.Title</h4>*@
</div>

<div class="layui-container" id="container">
    <div id="resultInfo">
        <div class="layui-form-item resultbtn">
            <label class="layui-form-label"><span class="txt_r"></span></label>
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary layui-border-blue layui-btn-radius layui-btn-sm" addresult type="button" ><i class="layui-icon layui-icon-add-1"></i> 添加结果 </button>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span class="txt_r"></span></label>
            <div class="layui-footer">
                <button class="layui-btn layui-btn-primary" type="button" id="btnsave">保存</button>
                <button class="layui-btn" type="button" onclick="$$.closeThis()">取消</button>
            </div>
        </div>
    </div>
</div>


<script type="text/template" id="resultTemplate">
    <div class="layui-card" style="box-shadow: 0 0 1px 1px #d1d1d1;" combine>
        <div class="layui-card-header">
            <span class="layui-badge resultnumber"></span>
        </div>
        <div class="layui-card-body">
            <form class="layui-form">
                <input type="hidden" name="Id" />
                <input type="hidden" name="SortNo" />
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="txt_r">*</span>结果代码</label>
                    <div class="layui-input-block">
                        <input class="layui-input" name="Code" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="txt_r">*</span>结果标题</label>
                    <div class="layui-input-block">
                        <input class="layui-input" name="Title" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="txt_r">*</span>分值范围</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="MinScore" placeholder="最小分值（含）" />
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="MaxScore" placeholder="最大分值（含）" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="txt_r"></span>结果图片</label>
                    <div class="layui-input-block">
                        <img width="96" height="96" name="ImageFullName" style="object-fit: contain;border:1px dashed gray" />
                        <button type="button" class="layui-btn layui-btn-danger upbtn" style="position: absolute; bottom: 0; left: 128px;">
                            <i class="layui-icon layui-icon-upload"></i> 上传图片
                        </button>
                        <input type="hidden" name="ImageId" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="txt_r">*</span>结果详解</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="NContent"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-block option">
                        <button class="layui-btn layui-bg-orange  layui-btn-xs" resultaction="2" type="button" title="复制"><i class="layui-icon layui-icon-file"></i>  </button>
                        <button class="layui-btn layui-bg-red  layui-btn-xs" resultaction="3" type="button" title="删除"><i class="layui-icon layui-icon-delete"></i>  </button>
                        <button class="layui-btn  layui-bg-purple layui-btn-xs" resultaction="-1" type="button" title="上移"><i class="layui-icon layui-icon-up"></i>  </button>
                        <button class="layui-btn layui-bg-purple  layui-btn-xs" resultaction="1" type="button" title="下移"><i class="layui-icon layui-icon-down"></i>  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
