@{ 
    ViewBag.NoCard = true;
    Dictionary<string, object> PageInfo = ViewBag.PageInfo;
}
@section scripts{
    <script src="~/Scripts/echarts.min.js?@MvcApplication.Version"></script>
}
@section styles{
    <style>
        html, body{
            height: 100%;
            overflow: hidden;
        }
        .bfzb{
            height:100%;
        }
        .layui-card{
            margin:0 5px;
        }
        .layui-row{
            margin:5px 0;
        }
    </style>
}
<div class="layui-fluid" style="height: 100%; display: flex; flex-flow: column nowrap">
    <div class="layui-row" style="flex:1">
        <div class="layui-col-md6 bfzb" style="display: flex; flex-flow: column nowrap">
            @*<div class="layui-row" style="flex:1">
                <div class="layui-card bfzb" style="display:flex; flex-flow:column nowrap">
                    <div class="layui-card-header">测试完成情况排名</div>
                    <div class="layui-card-body bfzb">
                        <div id="tiaoChart" class="bfzb"></div>
                    </div>
                </div>
            </div>*@
            <div class="layui-row" style="flex:1">
                <div class="layui-card bfzb" style="display:flex; flex-flow:column nowrap">
                    <div class="layui-card-header">答题情况汇总</div>
                    <div class="layui-card-body bfzb">
                        <div id="bingChart" class="bfzb"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 bfzb" style="display: flex; flex-flow: column nowrap">
            <div class="layui-row" style="flex:1;">
                <div class="layui-card bfzb" style="display:flex; flex-flow:column nowrap">
                    <div class="layui-card-header">学员明细</div>
                    <div class="layui-card-body bfzb">
                        <form class="layui-form" id="searchForm">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:auto">筛选</label>
                                    <div class="layui-input-inline">
                                        <input type="text" value="" class="layui-input" placeholder="搜索…" name="keyword" id="keyword" autocomplete="off">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <input type="text" value="" class="layui-input" readonly placeholder="分组…" name="GroupName" autocomplete="off">
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-sm layui-btn-normal">搜索</button>
                                </div>
                                <div class="layui-inline">
                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-on="export">导出</button>
                                </div>
                            </div>
                        </form>
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="downform" target="downframe" action="/TestPlanUser/Export" method="post" style="display:none">
    <input type="hidden" name="PlanId" value="@PageInfo.G("KeyValueStr")" />
    <div id="UserIds">

    </div>
    <button>提交</button>
</form>
<iframe name="downframe" style="display:none"></iframe>
<script type="text/template" id="actionTemplate">
    {{# let name = d.User.BusUserInfoUsers[0].RealName || d.User.Name; }}
    <div class="layui-inline"><a target="addtab" class="layui-btn layui-btn-xs" href="/TestPlanUser/Detail/{{d.PlanId}},{{=d.UserId}}" title="{{name}}的测评报告">报告</a></div>
</script>

<script type="text/template" id="progressTemplate">
    <div class="layui-progress layui-progress-big" lay-showpercent="true">
        {{# let finish=d.FinishQuestion;let all = plan.QuestionNum;}}
        <div class="layui-progress-bar" lay-percent="{{finish}} / {{all}}"></div>
    </div>
</script>

<ul class="ztree" id="tree" style="width: 300px; height: 500px; position: absolute; top: 0; left: 0; background: rgb(0 149 108 / 7%); backdrop-filter: blur(2px); border-radius: 5px 5px 15px 15px; border: 1px solid #e1e1e1; box-shadow: 0 0 5px 0 #919191; overflow: auto; display: none;resize:both "></ul>