@{

}
@section styles{
    <style>
        .card-img, .card-img-top {
            border-top-left-radius: var(--tblr-card-inner-border-radius);
            border-top-right-radius: var(--tblr-card-inner-border-radius);
            height: 12rem;
            object-fit: cover;
        }
        tbody, td, tfoot, th, thead, tr {
            overflow-wrap:anywhere;
        }
    </style>
}
@section scripts{
    <script>
        var EnumSex = @JsonHelper.ToJson(EnumHelper.GetSelectList(typeof(EnumSex)).ToDictionary(a=>a.Value,a=>a.Text));
    </script>
}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-fluid">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                @*<div class="page-pretitle">
                    Overview
                </div>*@
                <h2 class="page-title">
                    @ViewBag.Title
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <form class="d-flex" id="searchform">
                    <div class="me-3">
                        <div class="input-icon">
                            <input type="text" value="" class="form-control" placeholder="搜索…" name="keyword" id="keyword" autocomplete="off">
                            <span class="input-icon-addon">
                                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                            </span>
                        </div>
                    </div>
                    <a href="~/UserInfo/Edit" class="btn btn-primary" target="addtab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        添加用户
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="page-body" style="flex:1; display:flex;flex-direction:column">
    <div class="container-fluid" style="flex:1">
        <div class="d-flex align-items-center pager">
            <p class="m-0 text-secondary"></p>
            <ul class="pagination ms-auto">
            </ul>
        </div>

        <div class="row row-cards" >
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-lg card-table">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>登录名/手机号</th>
                            <th>真实姓名</th>
                            <th>角色</th>
                            <th>单位</th>
                            <th>身份证号</th>
                            <th>生日</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="d-flex align-items-center pager">
        <p class="m-0 text-secondary"></p>
        <ul class="pagination ms-auto">
        </ul>
    </div>
</div>

<template id="listtemplate">
    <tr rowid="{{Id}}">
        <td data-label="用户名">
            <div class="d-flex py-1 align-items-center">
                <span class="avatar me-2" style="background-image: url({{=obj.Avatar?obj.Avatar.FullName:(obj.AvatarName||'/static/avatars/defaultavatar.png') }})"></span>
                <div class="flex-fill">
                    <div class="font-weight-medium">{{=obj.Name}}</div>
                    <div class="text-secondary">{{=EnumSex[obj.ObjectTag.UserInfo.Sex]||""}}</div>
                </div>
            </div>
        </td>
        <td data-label="登录名/手机号">
            <div>{{Account}}</div>
            <div class="text-secondary">{{Mobile}}</div>
        </td>
        <td data-label="真实姓名">
            <div>{{=obj.ObjectTag.UserInfo.RealName||"-"}}</div>
        </td>
        <td data-label="角色">
            <div class="text-secondary">{{=obj.ObjectTag.RoleNames.join(",")}}</div>
        </td>

        <td class="text-secondary" data-label="单位">
            {{=obj.ObjectTag.UserInfo.UnitName||"-"}}
        </td>
        <td class="text-secondary" data-label="身份证号">
            {{=obj.ObjectTag.UserInfo.IdCardNo||"-"}}
        </td>
        <td class="text-secondary" data-label="生日">
            {{=(obj.ObjectTag.UserInfo.Birthday?new Date(obj.ObjectTag.UserInfo.Birthday).format("yyyy-MM-dd"):"-")}}
        </td>
        <td>
            <div class="btn-list flex-nowrap">
                <a href="/User/Edit/{{Id}}" class="btn btn-outline-primary btn-pill btn-sm" target="addtab" title="修改用户-{{Id}}">
                    修改
                </a>
                <a href="#" class="btn btn-outline-danger btn-pill btn-sm">分配角色</a>
                <a href="#" class="btn btn-outline-info btn-pill btn-sm">重置密码</a>
            </div>
        </td>
    </tr>
</template>
<template id="emptytemplate">
    <td colspan="1000">
        @{
            Html.RenderPartial("Empty");
        }
    </td>
</template>
